html {
    font-family: sans-serif;
    font-size: 12px;
    background: rgb(240,240,240);
    margin: 0;
}

body {
  width: 400px;
  background: rgb(240,240,240);
  margin: 0 auto;
  padding: 2px;
  height: 600px;
}

/* Styling the textarea */
textarea {
  width: 100%; /* Full width */
  height: 450px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #211F1E;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical; /* Allow vertical resizing */
  font-size: 10px;
}

/* popup buttons */
button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 5px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #fff;
}

button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

button span {
  position: relative;
  top: -10px;
}

.centerd-container {
  padding-top: 5px;
  text-align: center;
  width: 100%;
}

/* Hightlight style select */
/* Dropdown Styles */

.toolbar {
  padding-top: 5px;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically center the items */
  gap: 10px; 
}

.dropdown {
  position: relative;
  width: 200px;
  cursor: pointer;
  background-color: #fff;
}

.select-box {
    cursor: pointer;
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
}

.options-container {
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    display: none;
    z-index: 2;
}

.option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.option:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.yellow-dot { background-color: rgb(255, 226, 63); }
.blue-dot { background-color: rgb(0, 177, 253); }
.green-dot { background-color: rgb(113, 206, 69); }
.red-dot { background-color: rgb(255, 100, 100); }

.arrow {
    position: absolute;
    right: 10px;
    top: 12px;
    transform: translateY(-40%);
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Arrow up/down */
.show .arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.show .options-container {
    display: block;
}
