html {
    font-family: sans-serif;
    font-size: 12px;
    background: rgb(240,240,240);
    height: 600px;
    margin: 0;
}

body {
  width: 400px;
  background: rgb(240,240,240);
  margin: 0 auto;
  padding: 2px;
  height: inherit;
}

/* Styling the textarea */
textarea {
  width: 100%; /* Full width */
  height: 480px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #211F1E;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical; /* Allow vertical resizing */
  font-size: 10px;
  margin-bottom: 10px;
}

/* popup buttons */
button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 5px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

button span {
  position: relative;
  top: -10px;
}

/**
.button-52:hover:after {
  top: 0px;
  left: 0px;
}*/

.centerd-container {
  text-align: center;
  width: 100%;
}
